.console {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  height: 100%;
  font-family: monospace;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

.console pre, .console code {
  margin: 0; }

.console__item {
  display: inline-block;
  vertical-align: top; }
  .console__item ~ .console__item {
    margin-left: 10px; }
  .console__item-head-elements, .console__item-head-info {
    display: inline; }
  .console__item-content {
    display: flex;
    flex-direction: column;
    margin-left: 12px; }

.object__entry,
.array__entry {
  display: flex; }

.console__item-head .object__entry,
.console__item-head .array__entry {
  display: inline-block; }
  .console__item-head .object__entry:not(:first-child)::before,
  .console__item-head .array__entry:not(:first-child)::before {
    content: ",";
    white-space: pre; }

.console__item.object > .console__item-head > .console__item-head-info {
  display: none;
  color: #83878c; }

.console__item.object > .console__item-head_braced > .console__item-head-elements:not(:empty)::before {
  content: '{'; }

.console__item.object > .console__item-head_braced > .console__item-head-elements:not(:empty)::after {
  content: '}'; }

.object-entry__key::after {
  content: ": ";
  white-space: pre; }

.console__item.array > .console__item-head > .console__item-head-elements:not(:empty)::before {
  content: '['; }

.console__item.array > .console__item-head > .console__item-head-elements:not(:empty)::after {
  content: ']'; }

.array-entry__key::after {
  content: ": ";
  white-space: pre; }

.function__classifier_plain::after {
  content: "f"; }

.function__classifier_class::after {
  content: "class"; }

.console__header {
  margin: 0; }

.console__info {
  font-size: 0.8em;
  font-family: sans-serif; }

.console__row {
  margin: 5px;
  padding: 5px;
  background: #f8faf3; }

.console__item span {
  position: relative; }

.console__item.undefined {
  font-weight: bold;
  font-style: italic; }

.console__item.NaN {
  font-weight: bold; }

.console__item.string {
  margin: 0;
  color: green; }
  .console__item.string::before {
    content: '"'; }
  .console__item.string::after {
    content: '"'; }
  .console__item.string_collapsed {
    white-space: nowrap; }

.console__item.number {
  color: darkorange; }

.console__item.boolean {
  color: blue; }

.console__item.null {
  color: magenta; }

.console__item.key {
  color: #5bc0de; }

.console__item.error {
  color: red; }

.editor-container {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 300px;
  vertical-align: top;
  border: 5px solid #ffd20d; }
