.prompt {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 8px;
  border-top: 1px solid #eeeeee;
  box-sizing: border-box;
  font: 0.8em/normal SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, "Courier New", monospace;
  line-height: 1.4;

  pre, code {
    font: inherit;
  }

  &__line-arrow {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewbox%3D%220%200%2040%2040%22%20width%3D%2240%22%20height%3D%2240%22%3E%0A%20%20%3Cpolyline%20points%3D%2210%2C%202%2030%2C%2020%2010%2C%2038%22%20fill%3D%22none%22%20stroke%3D%22black%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20/%3E%0A%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__input {
    display: block;
    margin: 0;
    white-space: pre;
    min-height: 3em;
    flex: 1 0 auto;
    outline: none;
    cursor: text;
    appearance: none;

    &:not(:focus):empty::before {
      content: "write code here";
      color: gray;
    }
  }

  &__send-btn {
    margin-left: 10px;
    user-select: none;

    &:active {
      opacity: 0.5;
    }
  }

  &__send-icon {
    width: 26px;
    height: 26px;
    transform: rotate(-90deg);
  }
}

.send-icon {
  &--grey {
    fill: #858f99;
    stroke: white;
  }
}
