/*
using BEM
block — block
block__elem — block's element
block--mod — block's modifier
block__elem--mod — element's modifier
*/

.console {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  height: 100%;

  font-size: 0.8em;
  font-family: monospace, monospace;
  cursor: default;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.console {
  & pre, & code {
    margin: 0;
  }

  &__header {
    margin: 0;
  }

  &__info {
    font-size: 0.8em;
    font-family: sans-serif;
  }

  &__row {
    margin: 5px;
    padding: 5px;
    overflow: auto;
    background: #f8faf3;

    &--error {
      background-color: #ff00001a;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
  }

  &__item ~ &__item {
    margin-left: 10px;
  }
}

.item {
  $parent: &;

  &__head {
    display: inline-block;
    &-content,
    &-content-length,
    &-info {
      display: none;

      &--show {
        display: inline-block;
        vertical-align: top;
      }
    }
  }


  &__content {
    display: none;
    flex-direction: column;
    margin-left: 12px;

    &--show {
      display: flex;
    }
  }

  &--array {
    #{$parent}__head-content-length {
      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }

  &--function {
    &__classifier {
      &_plain::after {
        content: "f";
      }

      &_class::after {
        content: "class";
      }
    }
  }

  &--primitive {}
}

.item-content {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.entry-container {
  $parent: &;
  // &__entry {
  //   display: flex;
  //   flex-direction: row;
  // }
  &--head {
    #{$parent}__entry {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 5px;
        &::after {
          content: ",";
          white-space: pre;
        }
      }
    }
  }

  &--braced {
    &#{$parent}--object {
      &::before {
        content: '{';
      }

      &::after {
        content: '}';
      }

      &#{$parent}--oversize {
        #{$parent}__entry:last-child {
          margin-right: 5px;
          &::after {
            content: ",";
            white-space: pre;
          }
        }
        &::after {
          content: '...}';
        }
      }
    }

    &#{$parent}--array {
      &::before {
        content: '[';
      }

      &::after {
        content: ']';
      }
    }
  }

  &__key::after {
    content: ": ";
    white-space: pre;
  }
}

.undefined {
  font-weight: bold;
  font-style: italic;
}

.NaN {
  font-weight: bold;
}

.string {
  margin: 0;
  color: green;
  white-space: pre-wrap;

  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }

  &--nowrap {
    white-space: nowrap;
  }
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: #5bc0de;
}

.error {
  color: red;
}

.pointer {
  cursor: pointer;
}

.editor-container {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 300px;

  vertical-align: top;

  border: 5px solid #ffd20d;
}
