/*
using BEM
block — block
__elem — element
--mod — modifier
--mod_val — modifier value
*/

.console {
  font-size: 0.8em;
  font-family: monospace, monospace;
  cursor: default;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  & pre, & code {
    margin: 0;
  }

  &__header {
    margin: 0;
  }

  &__info {
    font-size: 0.8em;
    font-family: sans-serif;
  }

  &__row {
    margin: 8px;
    padding: 5px;
    overflow: auto;
    background: #f8faf3;
    white-space: nowrap;

    &--error {
      background-color: #ff00001a;
    }

    &--input,
    &--output {
      &::before {
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: middle;
        display: inline-block;
        content: "";
      }
    }

    &--input::before {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewbox%3D%220%200%2040%2040%22%20width%3D%2240%22%20height%3D%2240%22%3E%0A%20%20%3Cpolyline%20points%3D%2210%2C%202%2030%2C%2020%2010%2C%2038%22%20fill%3D%22none%22%20stroke%3D%22#6e6e6e%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20/%3E%0A%3C/svg%3E");
    }

    &--output::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 40 40' width='40' height='40'%3E%3Cpolyline points='30, 2 10, 20 30, 38' fill='none' stroke='%236e6e6e' stroke-width='3' stroke-linecap='round' /%3E%3Ccircle r='4' cx='35' cy='20' fill='%236e6e6e' /%3E%3C/svg%3E%0A");
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
  }

  &__item ~ &__item {
    margin-left: 10px;
  }
}

.item {
  $parent: &;

  &__head {
    display: inline-block;
    white-space: nowrap;

    &::before {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiBAQVByn6pE6OAAAA/0lEQVQ4y42RIW4CYRSEv3+7CCRIDoCpxdVUcAWuQNOw7LaKkCCKA9VAaRoQHAC4ASR4gsUQalcWSdLC/ogmTXcTlhn9vsy8Gbw7f+gVkOW4GarOLug85kQAgKxtZD7rjeesCgDkTOe086svrgoAFBh+bYIKRgUAinYSrOplHQBsycz9uVeSAQDKzsqf1Io6AIbKzSa5UhoA4CZXugZAYiXzdB8tBQggpJ0fKw6JjJr2tuv2Xw8acDD97+7HXnM4Mo7ag1CLZJmdWu9b9YdF1BysxafNOmq+LdSWtqbVm2EvGcd3CHnI3/aml8//O/w1na5fINb0FeD444ziTafrDOtDV1ZINst0AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA0LTA0VDIxOjA3OjQxKzAyOjAwqHPzPgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wNC0wNFQyMTowNzo0MSswMjowMNkuS4IAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC');
      width: 9px;
      height: 9px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: baseline;
    }

    &--arrow-pointer {
      @extend .pointer;

      &::before {
        content: "";
      }
    }

    &--arrow-bottom {
      &::before {
        transform: rotate(90deg);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }


  &--primitive {}
}

.map-pair {
  display: inline-block;

  &--braced {
    &::before {
      content: '{';
    }

    &::after {
      content: '}';
    }
  }
}

.head {
  &__content,
  &__length,
  &__info {
    display: inline-block;
    vertical-align: top;
  }
}

.c-string {
  margin: 0;
  color: green;
  white-space: pre-wrap;

  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }
}

.c-number,
.c-boolean {
  color: darkorange;
}

.c-symbol,
.c-regexp {
  color: #ee9900;
}

.length {
  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}

.info {
  &--function {
    color: rgb(9, 41, 195);
  }
}

.italic {
  font-style: italic;
}

.c-undefined,
.c-null,
.grey {
  color: #6e6e6e;
}

.key {
  color: #5bc0de;
}

.nowrap {
  white-space: nowrap;
}

.error {
  color: red;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.editor-container {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 300px;

  vertical-align: top;

  border: 5px solid #ffd20d;
}
