.console {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  height: 100%;

  // font-family: "Menlo", "consolas", sans-serif;
  // font-size: 0.8em;
  font-family: monospace;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.console {
  & pre, & code {
    margin: 0;
    // font-family: "Menlo", "consolas", sans-serif;
  }
}

.console__item {
  display: inline-block;
  vertical-align: top;
  // max-width: 100%;

  & ~ .console__item {
    margin-left: 10px;
  }

  &-head {
    &-elements,
    &-info {
      display: inline;
    }
  }

  // &-head * {
  //   display: inline;
  // }

  &-content {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  &_primitive {}
}

.object__entry,
.array__entry {
  display: flex;
}

.console__item-head .object,
.console__item-head .array {
  &__entry {
    display: inline-block;

    &:not(:first-child)::before {
      content: ",";
      white-space: pre;
    }
  }
}

.console__item.object > .console__item-head {
  > .console__item-head-info {
    display: none;
    color: #83878c;
  }
  &_braced > .console__item-head-elements:not(:empty) {
    &::before {
      content: '{';
    }

    &::after {
      content: '}';
    }
  }
}

.object-entry__key::after {
  content: ": ";
  white-space: pre;
}

.console__item.array > .console__item-head {
  > .console__item-head-elements:not(:empty) {
    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }
}

.array-entry__key::after {
  content: ": ";
  white-space: pre;
}

.function {
  &__classifier {
    &_plain::after {
      content: "f";
    }

    &_class::after {
      content: "class";
    }
  }
}

.console__header {
  margin: 0;
}

.console__info {
  font-size: 0.8em;
  font-family: sans-serif;
}

.console__row {
  margin: 5px;
  padding: 5px;

  background: #f8faf3;
}

.console__item span {
  position: relative;
}

// .console__item span:hover::after {
//   content: attr(class);
//   position: absolute;
//   z-index: 100;
//
//   display: inline-block;
//   margin: -1em 0 0 8px;
//   padding: 3px 6px;
//
//   font-size: .9em;
//   vertical-align: top;
//   font-style: italic;
//
//   background-color: white;
//   border: 1px dashed;
//   border-radius: 4px;
// }

.console__item.undefined {
  font-weight: bold;
  font-style: italic;
}

.console__item.NaN {
  font-weight: bold;
}

.console__item.string {
  margin: 0;
  color: green;

  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }

  &_collapsed {
    white-space: nowrap;
  }
}

.console__item.number {
  color: darkorange;
}

.console__item.boolean {
  color: blue;
}

.console__item.null {
  color: magenta;
}

.console__item.key {
  color: #5bc0de;
}

.console__item.error {
  color: red;
}

.editor-container {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 300px;

  vertical-align: top;

  border: 5px solid #ffd20d;
}
