/*
using BEM
block — block
block__elem — block's element
block--mod — block's modifier
block__elem--mod — element's modifier
*/

.console {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  height: 100%;

  font-size: 0.8em;
  font-family: monospace, monospace;
  cursor: default;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.console {
  & pre, & code {
    margin: 0;
  }

  &__header {
    margin: 0;
  }

  &__info {
    font-size: 0.8em;
    font-family: sans-serif;
  }

  &__row {
    margin: 5px;
    padding: 5px;
    overflow: auto;
    background: #f8faf3;
    white-space: nowrap;

    &--error {
      background-color: #ff00001a;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
  }

  &__item ~ &__item {
    margin-left: 10px;
  }
}

.item {
  $parent: &;

  &__head {
    display: inline-block;
    white-space: nowrap;

    &::before {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiBAQVByn6pE6OAAAA/0lEQVQ4y42RIW4CYRSEv3+7CCRIDoCpxdVUcAWuQNOw7LaKkCCKA9VAaRoQHAC4ASR4gsUQalcWSdLC/ogmTXcTlhn9vsy8Gbw7f+gVkOW4GarOLug85kQAgKxtZD7rjeesCgDkTOe086svrgoAFBh+bYIKRgUAinYSrOplHQBsycz9uVeSAQDKzsqf1Io6AIbKzSa5UhoA4CZXugZAYiXzdB8tBQggpJ0fKw6JjJr2tuv2Xw8acDD97+7HXnM4Mo7ag1CLZJmdWu9b9YdF1BysxafNOmq+LdSWtqbVm2EvGcd3CHnI3/aml8//O/w1na5fINb0FeD444ziTafrDOtDV1ZINst0AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA0LTA0VDIxOjA3OjQxKzAyOjAwqHPzPgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wNC0wNFQyMTowNzo0MSswMjowMNkuS4IAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC');
      width: 9px;
      height: 9px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: baseline;
    }

    &--pointer {
      cursor: pointer;

      &::before {
        content: "";
      }
    }

    &--arrow-bottom {
      &::before {
        transform: rotate(90deg);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  // &--show-content {
  //   & > #{$parent}__content {
  //     display: flex;
  //   }
  // }

  &--primitive {}
}

.entry-container {
  $parent: &;
  // &__entry {
  //   display: flex;
  //   flex-direction: row;
  // }
  &--head {
    white-space: normal;
    #{$parent}__entry {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 5px;
        &::after {
          content: ",";
          white-space: pre;
        }
      }
    }
  }

  &--braced {
    &#{$parent}--object {
      &::before {
        content: '{';
      }

      &::after {
        content: '}';
      }

      &#{$parent}--oversize {
        #{$parent}__entry:last-child {
          margin-right: 5px;
          &::after {
            content: ",";
            white-space: pre;
          }
        }
        &::after {
          content: '…}';
        }
      }
    }

    &#{$parent}--array {
      &::before {
        content: '[';
      }

      &::after {
        content: ']';
      }

      &#{$parent}--oversize {
        #{$parent}__entry:last-child {
          margin-right: 5px;
          &::after {
            content: ",";
            white-space: pre;
          }
        }
        &::after {
          content: '…]';
        }
      }
    }
  }

  &__value-container {
    &--underscore:hover {
      text-decoration: underline;
    }
  }

  &__key::after {
    content: ": ";
    white-space: pre;
  }
}

.head {
  &__content,
  &__length,
  &__info {
    display: inline-block;
    vertical-align: top;
    // display: none;
    //
    // &--show {
    //   display: inline-block;
    //   vertical-align: top;
    // }
  }
}

.length {
  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}

.info {
  &--function {
    color: rgb(9, 41, 195);
  }
}

.italic {
  font-style: italic;
}

.undefined {
  font-weight: bold;
  font-style: italic;
}

.grey {
  color: #6e6e6e;
}

.NaN {
  font-weight: bold;
}

.string {
  margin: 0;
  color: green;
  white-space: pre-wrap;

  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }
}

.nowrap {
  white-space: nowrap;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: #5bc0de;
}

.error {
  color: red;
}

.symbol,
.regexp {
  color: rgb(194, 30, 32);
}

.hidden {
  display: none;
}

.editor-container {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 300px;

  vertical-align: top;

  border: 5px solid #ffd20d;
}
