.c-string {
  margin: 0;
  white-space: pre-wrap;
  color: green;

  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }
}

// TODO
// .c-string {
//   margin: 0;
//   white-space: pre-wrap;
//   color: #333333;
//   &--with-parent {
//     color: green;
//     &::before {
//       content: '"';
//     }
//
//     &::after {
//       content: '"';
//     }
//   }
// }
